/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Styling */
.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Card Styling */
.card {
    text-align: center;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Form Styling */
.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
}

.form-group input:focus {
    border-color: #333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Button Styling */
.btn {
    display: inline-block;
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 15px;
}

.btn:hover {
    background: #0056b3;
}

/* Prediction Result */
#predictionResult {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
    font-size: 18px;
}
